{{ define "body-class" }}template-resume{{ end }}
{{ define "head" }}
{{ end }}
{{ define "main" }}
<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    <header class="article-header">
        <div class="article-details">
            {{ if .Params.categories }}
            <header class="article-category">
                {{ range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}"
                    {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
                    {{ .LinkTitle }}
                </a>
                {{ end }}
            </header>
            {{ end }}

            <div class="article-title-wrapper">
                <h2 class="article-title">
                    <a href="{{ .RelPermalink }}">
                        {{- .Title -}}
                    </a>
                </h2>

                {{ with .Params.description }}
                <h3 class="article-subtitle">
                    {{ . }}
                </h3>
                {{ end }}
            </div>

            {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
            {{ $showDate := not .Date.IsZero }}
            {{ $showFooter := or $showDate $showReadingTime }}


            {{ if .IsTranslated }}
            <footer class="article-translations">
                {{ partial "helper/icon" "language" }}
                <div>
                    {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </footer>
            {{ end }}
        </div>
    </header>
    <!-- Modifty {{ partial "article/components/content" . }} -->
    <section class="article-content">
        <!-- {{ $pageContent := .Content }} -->
        {{ .Content }}
    </section>
</article>
{{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
<aside class="sidebar right-sidebar sticky">
    <section class="widget archives">
        <h2 class="widget-title section-title">Resume contents</h2>
        <div class="widget--toc">
            <div class="resume-toc">
                {{ .TableOfContents }}
            </div>
        </div>
    </section>
</aside>
{{ end }}