/*
    You can add your own custom styles here.
*/

/* For resume section */
.template-resume {

    .main-article {
        background: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        overflow: hidden
    }

    .article-content{
        color: var(--card-text-color-main);

        h2{
            text-decoration: none;
        }
    }
}

/* Hide all list items in the ToC */
.resume-toc ol li ol {
    display: none;
}

/* For fav-course */
.fav-course {
    background: var(--card-background);
    overflow: hidden;
    color: var(--card-text-color-main);

    h2{
        font-size: medium;
    }
}