/*
    You can add your own custom styles here.
*/

// For about me section
.template-aboutme {

    .main-article {
        background: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        overflow: hidden
    }

    .article-content{
        color: var(--card-text-color-main);

        h2{
            color: red;
        }
    }

}